<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d499f769-ecd7-487a-adb1-936d4ea089e4" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://api.openweathermap.org" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d499f769-ecd7-487a-adb1-936d4ea089e4fileName">https%3A%2F%2Fapi.openweathermap.org</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.openweathermap.org</con:endpoint></con:endpoints></con:interface>
