<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c3319e8f-2f62-4778-9d22-141c441b6d6b" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.positionstack.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c3319e8f-2f62-4778-9d22-141c441b6d6bfileName">http%3A%2F%2Fapi.positionstack.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://api.positionstack.com</con:endpoint></con:endpoints></con:interface>
